$orange: #F2AE72;
$brown: #8C4646;
$red: #D96459;
$yellow: #F2E394;
$green: #588C7E;

$nav_color: $green;
$background: $orange;


.navbar {
  background-color: $nav_color;
  color: white;
  border: 0px;
  border-radius: 0px;
  a {
    color: white
  }
  .active {
    background-color: white;
    a {
      color: $nav_color;
    }
  }
  .title:hover {
    text-decoration: none;
  }
}

.navbar-header {
  font-size: 32px;
  .title {
    margin-left: 12px;
  }
}

.margin-12 {
  margin: 12px;
}

.icon-bar {
  background-color: white;
}

.homepage {
  &.background {

  }
  img {
    width: 300px;
    overflow:hidden;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 150px;
    border:5px solid darkgrey;
    display:inline-block;
  }
  h1 {
    font-size: 54px;
    margin-left: auto;
    margin-right: auto;
  }
}

hr {
  border-color: $green;
  margin-bottom: 2px;
}

.footer {
  opacity: .5;
  color: $green;
  margin-bottom: 12px;
  .copyright {
    margin-left: 12px;
  }
}
