
.btn-outline.btn-github {
  border-color: darkgrey;
  color: darkgrey;
  border-width: 2px;
  font-size: 20px;
}

.project {
  &.item {
    border: 2px solid;
  }
  & .title {
    font-size: 28px;
  }
}

.project-descr {

}

.btn-icon {
  width: 18px;
}
