$nav_color: #800000;

.navbar {
  background-color: $nav_color;
  color: white;
  border: 0px;
  border-radius: 0px;
  a {
    color: white
  }
  .active {
    background-color: white;
    a {
      color: $nav_color;
    }
  }
}

.navbar-header {
  font-size: 32px;
  .title {
    margin-left: 12px;
  }
}

.margin-12 {
  margin: 12px;
}

.icon-bar {
  background-color: white;
}
